
/* ------------------ Reset ------------------ */
/* ------------------ Mobile ----------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
    background-color: #2b2b29;
    color:beige;
    line-height: 1.6;
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    display: block;
}

a { color: #f0ce8b; }

a:hover { color: #face53; }

/* ----------- Typography ----------- */
/* font family */
h1, h2, h3 {
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
}

h1 { 
    font-size: 2rem; 
    letter-spacing: 0.05rem;
    color: #2b2b29;
    line-height: 1.8rem;
}

h2 {
    font-size: 1.3rem;
    color: #face53;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h3 { 
    font-size: 1.1rem; 
    color: #face53;
}

h2, h3 { margin-bottom: 1rem; }

p { max-width: 600px; }

/* --------------- Header --------------- */

header {
    padding: 0.5rem 0.5rem 0;
    text-align: center;
    background-color: rgb(227, 227, 203);
    width: 90%;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
}

/* adding some flavour to "Game Developer" */
.subheader { 
    display: inline-block;
    background-color: #2b2b29cd;
    color: #face53;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    letter-spacing: 0.3em;
}

/* ------------------ Nav ------------------ */

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0 0.5rem 0.3rem 0.5rem;
} 

nav li {
    background-color: transparent;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #face53;
    width: 92.5%;
    margin: 0 auto;
}

nav a {
    color: beige;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.6rem;
    transition: transform 0.2s ease;
}

nav a:hover {
    color:#2b2b29;
    transform: scale(1.5);
}

/* ----------------- Main ----------------- */

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem 0.5rem;
}

section {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #face53;
}

/* ----------------- Home ----------------- */

.bee img {
    margin-top: 1rem;
    border-radius: 6px;
}

.featured-section img {
    border-radius: 3px;
}

.featured-section p {
    margin-bottom: 0.5rem;
}

.featured-section article {
    border-bottom: 3px solid  #face53;
}

.featured-section {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* ---------------- Articles ---------------- */

article {
    background-color: #3a3a37;
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border-bottom: 3px solid #face53;
}

article p { padding-bottom: 0.5rem;}

article img { margin-bottom: 1rem; }

/* ---------------- Projects ---------------- */

.introduction {
    border-left: 3px solid #face53;
    padding-left: 1rem;
}
 
.project-bee img , .project-fihh img {
    margin: 1rem auto;
    border-radius: 4px;
    border: 1px solid beige;
}

.projects section {
    background-color: #3a3a37;
    padding: 1rem;
    border-radius: 8px;
}


.projects h3 {
    padding-left: 1rem;
    border-top: 2px solid #face53;
    padding-top: 1rem;
    margin-top: 1rem;
}

.project-bee h3 {
    margin-top: 2rem;
}

.projects ul {
    list-style: none;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.projects ul li {
    padding-left: 1.5rem;
    position: relative;
}

.projects ul li::before {
    content: '›';
    color: #face53;
    position: absolute;
    left: 0;
}

.project-fihh p {
    padding-bottom: 0.5rem;
}

.section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 0.5rem 0.5rem 0;
    margin-bottom: 0.5rem;
}

.project-bee .section-footer .btn {
    display: none;
}

.section-footer .btn,
.section-footer .back-to-top {
    margin: 0;
    width: 120px;
    text-align: center;
}

.section-footer .btn {
    border-radius: 999px;
    background-color: #face53;
    color: #2b2b29;
    border: 1px solid #face53;
}

.section-footer .btn:hover {
    background-color: #f0ce8b;
    color: #2b2b29;
}

/* dont show until desktop view */
.screenshots {
    display: none;
}

.project-links {
    display: none;
}
/* --------------- Contact + About --------------- */

.contact {
    border-bottom: 2px solid #face53;
    border-left: 3px solid #face53;
    padding-left: 1rem;
}

strong {
    color: #f0ce8b;
    font-weight: 625;
}

article a, .contact a {
    font-weight: 620;
}

.about p {
    padding: 0.5rem;
}

.skill-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem 1rem;
    margin: 1rem 0;
    list-style: none;
    padding: 0;
}

.skill-tags li {
    background-color: #2b2b29;
    border: 1px solid #face53;
    color: #face53;
    padding: 0.3rem 0.75rem;
    border-radius: 4px;
    font-size: 0.85rem;
}

blockquote {
    font-size: 1.1rem;
    border-left: 3px solid #face53;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-style: italic;
    color: #f0ce8b;
    margin: 1rem 0;
}

/* ----------- Hobbies & Interests ----------- */

.hobbies {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.hobbies img {
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid beige;
}

.hobbies p {
    margin-bottom: 1rem;
}

.hobbies article {
    border-radius: 20px;
    transition: transform 0.2s ease;
}

.hobbies article:hover {
    transform: scale(1.02);
}


/* ---------------- Buttons ---------------- */
/*       "View Games", "Learn More", etc.    */

.btn, .back-to-top {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 0.85rem;
    color: #face53;
    text-decoration: none;
    border: 1px solid #face53;
    padding: 0.3rem 0.8rem;
    background-color: transparent;
    transition: background-color 0.2s ease, transform 0.2s ease;
    width: fit-content;
}

.btn:hover, .back-to-top:hover {
    background-color: #face53;
    color: #2b2b29;
    transform: scale(1.05);
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.back-to-top {
    border-radius: 999px; 
    margin-bottom: 0.4rem;
}

/* ---------------- Footer ---------------- */

footer {
    justify-self: center;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
}

/* ---------------- Media Queries ---------------- */
/* -------------------- Tablet ------------------- */
@media screen and (min-width: 425px) {

    p { max-width: 100%; }

    main {
        max-width: 95%;
        margin: 0 auto;
        padding: 0.8rem;
    }
   
    header {
        line-height: 1.3;
        background-color: rgb(227, 227, 203);
        color:#2b2b29;
        width: 92%;
        padding: 0;
        justify-self: center;
        border-radius: 0;
    }

    h1 { 
        font-size: 2rem; 
        letter-spacing: 0.04rem;
        color: #2b2b29;
        padding: 0.2rem;
    }

    h2 { font-size: 1.1rem; }
    h3 { 
        font-size: 1rem; 
        letter-spacing: 0.15rem;
    }

    nav {
        position: sticky;
        top: 0;
        width: 92%;
        z-index: 100;
        padding: 0;
        justify-self: center;
    }

    nav ul {
        display: flex;
        font-size: 0.85rem;
        justify-content: space-evenly;
        background-color: rgb(227, 227, 203);
        padding: 0.4rem 0.5rem;
        border-radius: 0 0 30px 30px;
        width: 100%;
        margin: 0 auto;
        gap: 0;
    }

    nav li {
        border-bottom: none;
        width: auto;
        margin: 0;
    }

   nav a {
        background-color: transparent;
        color: #2b2b29;
        font-size: 1rem;
        display: inline-block;
        border-radius: 0;
        transition: transform 0.2s ease;
    }

    nav a:hover { transform: scale(1.2); }

    .introduction, .contact {
        justify-self: center;
        width: 95%;
    }

    .introduction {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }

    section {
        padding-bottom: 0.8rem;
        margin-bottom: 0.8rem;
    }

    article {
        padding: 0.8rem;
        margin-bottom: 0.8rem;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.5;
    }


    /* ------------------- Home ------------------- */

    .bee img {
        border-radius: 12px;
        margin: 1rem auto;
    }

    /* centering "view games" button */
    .bee .btn {
        margin: 1rem auto;
    }

    /* featured games side by side */
    .featured-section {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;
    }

    /* make h2 take up the whole row so articles can be under */
    .featured-section h2 {
        width: 100%;
        margin-bottom: 0.4rem;
    }

    .featured-section article {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-top: 1rem;
    }

    .featured-section article img {
        height: 180px;
        width: 90%;
        object-fit: cover;
        border: 2px solid rgb(227, 227, 203);
        border-radius: 4px;
        margin: 0.7rem auto 0.7rem;
    }

    .featured-section article p {
        flex: 1;
    }

    .featured-section h3 {
        margin-top: 0;
        margin-bottom: 0.3rem;

    }

    .featured-section p {
        max-width: 100%;
    }

    .featured-section article .section-footer {
        margin-top: auto;
    }

    /* ----------------- Projects ----------------- */

    .project-bee, .project-fihh {
        padding: 0.8rem;
        width: 100%;
    }

    /* cap size so they arent too big */
    .project-bee img, .project-fihh img {
        height: 200px;
        width: 90%;
        margin: 1rem auto;
    }

    .project-bee .btn, .project-fihh .btn {
        display: none;
    }

    .project-bee .section-footer,
    .project-fihh .section-footer {
        justify-content: center;
    }

    .project-bee p, .project-fihh p {
        margin: 1rem 1rem;
    }

    .img-tertiary {
        display: none;
    }

    /* ----------------- Contact ----------------- */

    /* breathing room for contact & about */
    .contact {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .contact a {
        line-height: 2.5rem;
    }

    .skill-tags {
        justify-self: center;
        max-width: 90%;
        gap: 1rem 2rem;
    }

    .skill-tags li {
        flex: 1 1 auto;
        max-width: fit-content;
        transition: transform 0.2s ease;
    }

    .skill-tags li:hover {
        transform: scale(1.1);
    }

    .about h2 {
        letter-spacing: 0.3rem;
        margin: 0;
        padding-top: 0.5rem;
        padding-left: 1rem;
    }

    .about p {
        margin: 0.5rem;
        padding: 0;
        max-width: none;        
    }

    blockquote {
        justify-self: center;
        margin: 0.5rem;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .about .section-footer {
        justify-content: center;
    }

    /* ----------------- Hobbies ----------------- */

    .hobbies {
        display: flex;
        flex-wrap: wrap;     
        justify-content: space-between; 
        gap: 1rem; 
        padding: 1rem 0;
    }

    .hobbies h3 {
        margin: 0.5rem;
    }

    .hobbies article {
        /* each card 45% width and can wrap */
        flex: 1 1 45%;
        margin: 0;
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        border-radius: 5px;
        background-color: #3a3a37;
    }

    .hobbies article .section-footer {
        /* to push section-footer to the bottom */
        margin-top: auto;
        margin-bottom: 0.5rem;
        justify-content: center;
    }

    .hobbies img {
        width: 100%;
        max-width: 250px;   
        height: auto;
        border-radius: 5px;
        margin: 0;
    }

    .hobbies p {
        text-align: left;
        margin-bottom: 1rem;
        padding: 0;
    }

    /* when the article takes up the whole width */
    .hobbies article.long {
        display: flex;
        align-items: center;
        padding: 1.3rem;
    }

    .hobbies article.long h3 {
        justify-self: center;
    }

    .hobbies article.long p {
        text-align: center;
    }

}


/* to size images and make layout look better */

@media screen and (min-width: 520px) {
    
    .project-grid {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-areas: "img1 desc"
                             "features img3";
        gap: 1.5rem;
        row-gap: 1rem;
        align-items: start;
    }


    .img-main { grid-area: img1; }
    .project-desc { grid-area: desc; }
    .project-features { grid-area: features; }
    .img-tertiary { grid-area: img3; }

    .img-tertiary {
        display: block;
        width: 85%;
        justify-self: center;
    }

    .project-bee, .project-fihh {
        margin-top: 2rem;
    }

    .projects h2 {
        margin-bottom: 0;
    }

    .project-grid img {
        width: 95%;
        height: 175px;
        object-fit: cover;
        border-radius: 4px;
        border: 1px solid beige;
    }

    .project-grid .project-desc {
        margin: 0;
    }

    /* to keep aligned with img on its left */
    .project-desc {
        align-self: center;
    }

    .project-features ul {
        padding-left: 1rem;
        margin-top: 0.5rem;
    }

    .project-features h3 {
        padding-left: 0.5rem;
        padding-top: 0.75rem;
        margin: 0;
    }
    .projects-section {
        padding: 1.5rem 1rem;
    }

    .img-secondary {
        display: none;
    }

    .project-grid p {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .section-footer {
        padding-top: 0;
        margin-top: 1rem;
        margin-bottom: 0 auto;
    }


    /* making long hobby article a full row */
    .hobbies article.long {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        padding: 1.3rem;
        position: relative;
    }

    .hobbies article.long img {
        width: 40%;
        height: auto;
        margin: 0;
    }

    /* content column: h3 on top, p below, 
            footer at bottom */
    .hobbies article.long .content {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-bottom: 2rem;
    }

    .hobbies article.long .content h3 {
        text-align: left;
        margin-top: 0;
        margin-left: 0;
        line-height: 1rem;
    }

    .hobbies article.long .content p {
        text-align: left;
    }

    /* center back to top button */
   .hobbies article.long .section-footer {
        position: absolute;
        bottom: 0.6rem;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        justify-content: center; 
        
    }

    /* only adjusting the skate / music articles */
    .hobbies article:not(.long) img {
        margin: 0.5rem auto 0.5rem;
        width: 100%;
        border-radius: 6px;
    }


}

/* ------------------- Desktop ------------------- */
@media screen and (min-width: 768px){

    /* --------------- base styles ------------ */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 4rem;
        width: 95%;
        max-width: 1250px;
        margin: 0 auto;
        margin-bottom: 1px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .h1-w-subh {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .subheader {
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    nav ul {
        background-color: #e3e3cb;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        gap: 2rem;
        width: 90%;
        max-width: 1150px;
        justify-content: space-evenly;
        padding: 0;
        margin-bottom: 2rem;
    }

    nav a {
        color: #2b2b29;
        font-size: 1rem;
    }

    .introduction {
        width: 90%;
    }

    main {
        width: 90%;
        max-width: 1150px;
    }

    footer {
        margin: 2rem;
    }

    /*------------------ home page -------------*/
    .home {
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        gap: 2rem;
    }

    .bee {
        position: sticky;
        top: 4rem;
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .bee a {
        display: none;
    }

    .bee img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        margin: 0.75rem 0;
    }

    .bee .btn {
        margin: 0.5rem 0 0;
    }

    .featured-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .featured-section h2 {
        width: 100%;
    }

    .featured-section article img {
        float: right;
        width: 40%;
        height: 70%;
        object-fit: cover;
        border-radius: 4px;
        border: 2px solid rgb(227, 227, 203);
        margin: 0.8rem 0.5rem 1rem 1rem;
    }

    .featured-section article {
        display: block;
        padding: 1rem;
        text-align: left;
        overflow: hidden;
        padding-bottom: 2rem;
    }

    .featured-section .article-content {
        display: block;
        overflow: hidden;
    }

    /* fixing padding issue with second feature card */
    #feature2 {
        padding-bottom: 0;
    }

    /* to make sure learn more button is visible */
    .featured-section article .section-footer {
        clear: both;
        margin-top: 0.5rem;
        justify-content: flex-start;
    }

    .featured-section article p {
        max-width: 100%;
    }

    .back-to-top {
        display: none;
    }
    

    /*--------------- projects page ------------*/
    /* display project screen side by side */
    .projects {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: stretch;
    }

    .projects section {
        flex: 1;
        height: 100%;
        margin: 0 auto;
    }

    .project-bee {
        padding-bottom: 1rem;
        margin-bottom: 0;
    }

    .img-secondary, .img-tertiary {
        display: none;
    }

    .project-grid {
        grid-template-columns: 1.1fr 1fr;
        grid-template-areas: "img1 desc"
                             "features features";
        gap: 1.5rem;
        row-gap: 0;
        align-items: start;
    }

    .img-main { grid-area: img1; }
    .project-desc {grid-area: desc;}
    .project-features {grid-area: features;}

    .project-bee, .project-fihh {
        transition: transform 0.2s ease;
    }
    .project-bee:hover, .project-fihh:hover {
        transform: scale(1.02);
    }

    .projects .screenshots {
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
        width: 100%;
        /* to take up the full width and be its own row */
        flex-basis: 100%;
    }

    .projects .screenshots img {
        width: 22%;
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
        border: 2px solid beige;
        margin-left: -2rem;
        transition: transform 0.2s ease, z-index 0.2s ease, border-color 0.2s ease;
        position: relative;
    }

    .projects .screenshots img:nth-child(1) { 
        transform: rotate(-6deg); 
        z-index: 1; 
    }
    .projects .screenshots img:nth-child(2){           
        transform: rotate(6deg); 
        z-index: 2; 
    }
    .projects .screenshots img:nth-child(3) { 
        transform: rotate(-6deg);  
        z-index: 3;
        margin-left: 1rem; 
    }
    .projects .screenshots img:nth-child(4) { 
        transform: rotate(6deg);  
        z-index: 4; 
    }

    .projects .screenshots img:hover {
        transform: rotate(0deg) scale(1.15);
        z-index: 10;
        border-color: #face53;
    }

    /* overriding to fix big play buttons */
    .project-links .btn {
        margin: 0;
        padding: 0.75rem 2rem;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 0.1em;
        border: 2px solid #face53;
        border-radius: 4px;
        transition: box-shadow 0.2s ease, transform 0.2s ease, color 0.2s ease;
    }

    .project-links .btn:hover {
        box-shadow: 0 0 12px #face53, 0 0 24px #face5380;
        transform: scale(1.05);
        background-color: transparent;
        color: #face53;
    }

    .project-links {
        display: flex;
        justify-content: center;
        gap: 25%;
        width: 100%;
    }

    .project-features {
        margin-top: 1rem;
    }

    /* ---------- contact page ----------*/
    .about-container {
        display: flex;
        gap: 1.5rem;
        align-items: stretch;
    }

    .about-container .about {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-container .about:last-child {
        justify-content: flex-end;
    }

    ul .skill-tags {
        width: 100%;
    }

    .about .skill-tags {
        max-width: 100%;
        justify-content: space-evenly;
    }

    .about-container .about:first-child  .skill-tags li {
        flex: 1;
        text-align: center;
    }

    .about-container .about:last-child .skill-tags li {
        flex: unset;
    }


    /* ---------------- hobbies -------------*/
    
    .hobbies {
        gap: 2rem;
    }

    .hobbies article:not(.long) {
        padding: 1.5rem;
    }

    .hobbies article img {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    .hobbies article.long {
        max-width: 700px;
        margin: 0 auto;
    }

    .hobbies article.long img {
        width: 35%;
        flex-shrink: 0;
        aspect-ratio: 4 / 3;
        height: auto;
        object-fit: cover;
    }

    footer {
        letter-spacing: 0.06rem;
        font-size: 1.8rem;
    }

   
}
